/* styles.css */

.root {
    -fx-background-color: #74ebe5;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}

.label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #080707;
}
